

.Navbar {
  background-color: #FFFFFF;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navbar img {
  width: 120px;
  height: auto;
}

.Navbar nav {
  display: flex;
  align-items: center;
  width: 100%; /* Asegura que el nav ocupe todo el ancho */
  justify-content: flex-end; 
}

.Navbar ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  flex-grow: 1; /* Ocupa el máximo espacio disponible */
  
}

.Navbar ul li {
  margin: 0 15px;
}

.Navbar ul li a {
  color: rgb(20, 17, 17);
  text-decoration: none;
  font-weight: bold;
}

.Navbar ul li a:hover {
  text-decoration: underline;
}

.Navbar input[type="text"] {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-left: auto; 
}

.Navbar ul li strong {
  color: rgb(26, 24, 24);
}

.search-box {
  position: relative;
  width: 250px; 
}

.search-box input {
  width: 100%;
  padding: 8px 40px 8px 10px; 
  box-sizing: border-box;
}

.search-box .search-icon {
  position: absolute;
  right: 10px; 
  top: 50%;
  transform: translateY(-50%);
  width: 20px; 
  height: 20px;
  pointer-events: none; 
}
